<ul>
  <% category.each do |cat| %>
    <li> <%= link_to cat.name, cat %></li>
  <% end %>
  <% tags.each do |tag| %>
    <% unless tag.name === "normal" %>
      <li><%= link_to tag.name, tag %></li>   
    <% end %>
  <% end %>
  </ul>