
   <header>
      
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
         <% category.each do |cat| %>
            <div class="navbar-brand d-flex align-items-center">
              <%= link_to cat.name, cat %>
              </div>
            <% end %>
            <% tags.each do |tag| %>
              <% unless tag.name === "normal" %>
              <div class="navbar-brand d-flex align-items-center">
                <%= link_to tag.name, tag %>
                </div>
              <% end %>
            <% end %>  
            <div class="navbar-brand d-flex align-items-center">
                |
                </div>  
            <% pages.each do |pag| %>
            <div class="navbar-brand d-flex align-items-center">
              <%= link_to pag.title, pag %>
            </div>
            <% end %>     
        </div>
      </div>
      <body>
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "/" %>
  </ol>
</body>
    </header>
  