// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-img-top{
    max-width: 25em;
    max-height: 20em;

}
.card-img-search{
    max-width: 10em;
    max-height: 15em;

}

.prod_descrip{
    padding-left: 3em;
}

.check_out{
    font-size: 1.5em;
}
.td_check_out{
    text-align: center;
    background: lightblue;
    font-weight: bold;
}