<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<% @collection.each do |col| %>
    <div class="category_float_div">
        <%= image_tag(col.image.url) %><br/>
         <%= link_to col.title, col %>   
    </div>
<% end %>