<h1>Gospel Trend</h1>


<%= render "shared/nav", category: @category, tags: @tag, pages: @page%>
<%= render "shared/collection", tags: @collection %>

<%# <% @collection.each do |col| %> %>
    <%# <div class="category_float_div"> %>
        <%# <%= image_tag(col.image.url) %><br/> %>
         <%# <%= link_to col.title, col %>    %>
    <%# </div> %>
<%# <% end %> %>

